@inject StoreWebSite.MVC.Interfaces.IUserManagement _um

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoreWebSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
</head>
<body>
    <header>
        <div class="head">
            <h1 class="mainTitle text-center">
                <img class="logo" src="/pics/LionLogo.png" />
                @ViewData["Title"]
            </h1>
        </div>
    </header>
    <nav class="fill sidenav">
        <div class="d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li>
                </li>
                <li>
                    @* while no user is logged in, show the login page. *@
                    @if (_um.GetUser() == null)
                    {
                        @await Html.PartialAsync("_Login", new LoginViewModel());
                    }
                    @*if user is logged in, show welcome page.*@
                    else
                    {
                        @await Html.PartialAsync("_WelcomeUser");
                    }
                    <br />
                </li>
                @* show navbar in all pages. *@
                @await Html.PartialAsync("_navBar");
            </ul>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-right">My site all rights reserved</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
