@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<form class="form-group" asp-controller="User" asp-action="Login" method="post">
    <div >
        @*this will stop the validation text to show up when someone try to register.*@
        @if (TempData["Validation"] == null)
        {
            <span class="warning" asp-validation-for="UserName"></span>
        }
    </div>
    <div class="form-group">
        <label class="writing" asp-for="UserName"></label>
        <input class="form-control w-75" asp-for="UserName" />
    </div>
    <div>
        @*this will stop the validation text to show up when someone try to register.*@
        @if (TempData["Validation"] == null)
        {
            <span class="warning" asp-validation-for="Password"></span>
        }
    </div>
    <div class="form-group">
        <label class="writing " asp-for="Password"></label>
        <input class="form-control w-75" asp-for="Password" />
    </div>

    @* this will raise validation like warning if username does not match password in database. *@
    @if (ViewBag.WrongInput != null && ViewBag.WrongInput)
    {
        <div class="warning">Incorrect user name or password</div>
    }
    <br />
    <div>
        <button class="btn btn-dark " type="submit">Login</button>
        <button class="btn btn-dark float-right" asp-controller="User" asp-action="CreateOrUpdate">Register</button>
    </div>
</form>

